<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<br>
    <h1>API WEB ELECTRO</h1>
    <a href="/api/product/list">
        API product
    </a>
</br>
    <a href="/api/auth">
        API auth
    </a>
</br>
    <a href="/api/brand">
        API brand
    </a>
</br>
    <a href="/api/cart">
        API cart
    </a>
</br>
    <a href="/api/catalog">
        API catalog
    </a>
</br>
    <a href="/api/color">
        API color
    </a>
</br>
    <a href="/api/compare">
        API compare
    </a>
</br>
    <a href="/api/menu">
        API menu
    </a>
</br>
    <a href="/api/selection">
        API selection
    </a>
</br>
    <a href="/api/storage">
        API storage
    </a>
</br>

    <a href="/api/type">
        API type
    </a>
</br>

    <a href="/api/wishlist">
        API wishlist
    </a>
</br>

</body>
</html>